
body,
p {
    font-family: "Open Sans",
      sans-serif;
  }
h1,
h2,
h3,
h4,
h5 {
  font-family: "Lobster", cursive; 

}

.navbar {
  width: 100%;
  position: fixed;
  margin: 0;
  color: white;
  background-image: linear-gradient(rgb(99, 32, 84), #7c365e);
}

.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 30px;
  padding-left: 60px;
}

.aboutus {
  text-indent: 60px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.contactus {
  background-color: #989599;
  color: #ffff;
  text-align: center;
  font-style: italic;
  padding-top: 90px;
  padding-bottom: 20px;
}

.address {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.feedback {
  padding-left: 20px;
  padding-right: 20px;
}

.introduction {
  background-color: #989599;
  color: #ffff;
  text-align: center;
  font-style: italic;
  padding-top: 90px;
  padding-bottom: 20px;
}

.inspiration {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 17px;
    font-style: italic;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer {
  background-image: linear-gradient(rgb(99, 32, 84), #7c365e);
    padding: 20px 0;
}

.site-footer {
  background-image: linear-gradient(rgb(99, 32, 84), #7c365e);
    padding: 20px 0;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

.socialMediaLinks a {
    font-size: 26px;
    margin: 0 10px 0 0;
    color: #ffff;
    text-decoration: none;
}

.socialMediaLinks a:hover { 
    color: #989599; 
}

.commonAi {
    margin: 0 10px 0 0;
    color: #ffff;
    text-decoration: none;
    font-family: "Open Sans",
      sans-serif;
}

.commonAi a:hover {
    color:  #989599;
}

#accordion {
  padding-bottom: 25px;
  padding-top: 20px;
}

.about {
  background-color: #989599;
  color: #ffff;
  text-align: center;
  font-style: italic;
  padding-top: 90px;
  padding-bottom: 20px;
}

.quotes {
  background-color: #989599;
  color: #ffff;
  text-align: center;
  font-style: italic;
  padding-top: 90px;
  padding-bottom: 5px;
}

.happiness {
  background-color: #989599;
  color: #ffff;
  text-align: center;
  font-style: italic;
  padding-top: 90px;
  padding-bottom: 20px;
}

.health {
  background-color: #989599;
  color: #ffff;
  text-align: center;
  font-style: italic;
  padding-top: 90px;
  padding-bottom: 20px;
}

.successs {
  background-color: #989599;
  color: #ffff;
  text-align: center;
  font-style: italic;
  padding-top: 90px;
  padding-bottom: 20px;
}

.love {
  background-color: #989599;
  color: #ffff;
  text-align: center;
  font-style: italic;
  padding-top: 90px;
  padding-bottom: 20px;
}

.moneyy {
  background-color: #989599;
  color: #ffff;
  text-align: center;
  font-style: italic;
  padding-top: 90px;
  padding-bottom: 20px;
}

.termss {
  background-color: #989599;
  color: #ffff;
  text-align: center;
  font-style: italic;
  padding-top: 90px;
  padding-bottom: 20px;
}
.carousel {
    border: solid #7c365e;
    margin-bottom: 60px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    }

#carouselButton {
  position: absolute;  
  right: 0;
  bottom: 0;
  z-index: 100;
    }

audio {
    height:50px; 
    width:300px;
    align-content: center;
}

audio::-webkit-media-controls-play-button {
    background-color: #7c365e;
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 3px 3px white);
    padding-top: 10px;
    padding-bottom: 10px;
}

.audio-container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 3px 3px white);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .audio-container-quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 3px 3px white);
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .feedback {
      padding-bottom: 20px;
  }

  .whatishappiness {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 17px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .pathtohappiness {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 16.5px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .psychology {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 16.5px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .inspirehappiness {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 18px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #canvas {
      height: auto;
      width: 100%;
      margin-top: 20px;
      border: 1px solid;
  }


  .whatishealth {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 16.5px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .mentalhealth {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 16.5px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .spiritualhealth {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 16.5px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .healthy {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 16.5px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  #cw {
    position: fixed;
    z-index: -1;
}

.success {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 17px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
}

.plansuccess {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 17.5px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
}

.purposesuccess {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 17.5px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
}

.findpurpose {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 17px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 40px;
}

#heart {
    position: relative;
    cursor: pointer;
    padding-top: 80px;
  }

  .definitionlove {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 17px;
    font-style: italic;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .poweroflove {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 16.5px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .impactoflove {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 17px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;  
  }

  .spirituallove {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 17.1px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 40px;  
  }

  #money {
    position: relative;
    cursor: pointer;
    padding-top: 20px;
  }

  .money {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 18.1px;
    font-style: italic;
    padding-top: 40px;
    padding-bottom: 40px; 
  }
  
  .economics {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 18.1px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .happymoney {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 16.5px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .moneypurpose {
    text-align-last: center;
    font-family: Arial,
            sans-serif;
    text-indent: 30px;
    text-align: left;
    font-size: 18.2px;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .terms {
    text-indent: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
  }